<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
  <div id="rapup">
    <div id="upper">
      <div id="upper-text"><h1>sign up</h1>
        <p>it's quick and easy</p></div>
        <i class="ri-close-line"></i>
    </div>
    <hr>
   <form action="/register" method="post">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="username" name="username">
    <input type="email" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
   <div id="dob"><h5>date of birth</h5>
    <input type="date" name="date-of-birth"></div>
    <div id="gander">
    <h5>gander</h5>
     male<input type="radio" placeholder="male" name="gander">
    female<input type="radio" placeholder="female" name="gander">
    other<input type="radio" placeholder="other" name="gander">
     </div>
    <input type="submit" value="sign up">
   </form>
  
  </div>
  
</body>
</html>
