<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div id="main">
        <div id="parts">
            <div id="part1">
                <img src="/images/facebook icon.svg" alt="">
                <p>Facebook helps you connect and share with the people in your life.</p>
            </div>
            <div id="part2">
                <div id="box">
                   <form action="/login" method="post">
                    <input type="username" placeholder="username or phone no." name="username">
                    <input type="password" placeholder="password" name="password">
                    <input type="submit" value="Log in">
                    <a href="">forgotten password ?</a>

                   </form>
                   <hr>
                   <button><a href="/">create new account</a></button>

                </div>
            </div>
        </div>
    </div>
    
</body>
</html>